/* App.css or a global CSS file */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevents scrolling */
  }
  
  .App {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  canvas {
    display: block; /* Removes default margins */
  }
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9); /* Mask with slight transparency */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it is above all other components */
  }